//
//  Bundle.xcconfig
//  Gist
//
//  Created by Atsushi Nagase on 5/24/12.
//  Copyright (c) 2012 LittleApps Inc. All rights reserved.
//
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Bundles
INFOPLIST_FILE = Gist/Gist-Info.plist
PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = codaplugin
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Gist/Gist-Prefix.pch