//
//  Project.xcconfig
//  Gist
//
//  Created by Atsushi Nagase on 5/24/12.
//  Copyright (c) 2012 LittleApps Inc. All rights reserved.
//

ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.7
ALWAYS_SEARCH_USER_PATHS = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_OBJC_EXCEPTIONS = YES
CLANG_ENABLE_OBJC_ARC = YES

GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES

HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR) "$(BUILT_PRODUCTS_DIR)/../../GitHubKit" "$(BUILT_PRODUCTS_DIR)/../GitHubKit" // "Vendors/GitHubKit/src/GitHubKit/3rd Party/three20"

OTHER_LDFLAGS = -ObjC
